PORT=7031
FRONTEND_URL="http://localhost:5173"

DATABASE_URL="postgresql://postgres:looma1406@localhost:5432/looma?schema=public"

JWT_SECRET="63cccd69e8e5cfbf0c710d9746abdc3562457ff5daf95ff2c732678fa56bb34f40f1868bf9a433a12300b2d555621a0ec92765d6dd579e98c93e029179d7400d"
JWT_ISSUER="Looma"
JWT_AUDIENCE="LoomaUsers"
JWT_ACCESS_TOKEN_MINUTES=30
JWT_REFRESH_TOKEN_DAYS=7

CORS_ORIGIN="*"

INSTAGRAM_CLIENT_ID=24251132131229008
INSTAGRAM_CLIENT_SECRET=8439433dd716d203f395e5018cc91659

INSTAGRAM_REDIRECT_URI="http://localhost:7031/api/instagram/callback"

INSTAGRAM_SCOPES="public_profile,email,pages_show_list,pages_read_engagement,pages_read_user_content,instagram_basic,instagram_manage_insights"

INSTAGRAM_AUTH_URL="https://www.facebook.com/v21.0/dialog/oauth"
INSTAGRAM_TOKEN_URL="https://graph.facebook.com/v21.0/oauth/access_token"
INSTAGRAM_GRAPH_BASE_URL="https://graph.facebook.com/v21.0"

PORT=7031

DATABASE_URL="postgresql://postgres:1406@localhost:5432/looma?schema=public"

JWT_SECRET="63cccd69e8e5cfbf0c710d9746abdc3562457ff5daf95ff2c732678fa56bb34f40f1868bf9a433a12300b2d555621a0ec92765d6dd579e98c93e029179d7400d"
JWT_ISSUER="Looma"
JWT_AUDIENCE="LoomaUsers"
JWT_ACCESS_TOKEN_MINUTES=30
JWT_REFRESH_TOKEN_DAYS=7

CORS_ORIGIN="*"
INSTAGRAM_CLIENT_ID=24251132131229008
INSTAGRAM_CLIENT_SECRET=8439433dd716d203f395e5018cc91659

INSTAGRAM_REDIRECT_URI="http://localhost:7031/api/instagram/callback"

INSTAGRAM_SCOPES="public_profile,email,pages_show_list,pages_read_engagement,pages_read_user_content,instagram_basic,instagram_manage_insights"


INSTAGRAM_AUTH_URL="https://www.facebook.com/v21.0/dialog/oauth"
INSTAGRAM_TOKEN_URL="https://graph.facebook.com/v21.0/oauth/access_token"
INSTAGRAM_GRAPH_BASE_URL="https://graph.facebook.com/v21.0"

# ==========================
# YouTube / Google OAuth
# ==========================
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=http://localhost:7031/api/youtube/callback

# Scopes separados por espaço
YOUTUBE_SCOPES=https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/yt-analytics.readonly

# Assinatura do state (pode reaproveitar JWT_SECRET se quiser)
YT_STATE_SIGN_SECRET=
